
div h3 {
    color:white;
}
div > p {
    color:white;
}
div + p {
    color:yellow;
    text-align:center;
}
img ~ p {
    color:orange;
}

a:link {
    color:lime
}
a:visited {
    color:red
}
a:hover {
    color:darkred
}
a:active {
    color:white
}

header {
    color:lime;
}

.mainTable {
    background:black;
    border-style: solid;
    border-color: darkslategray;
    font-size: 12px;
    text-align:center;
}

.solidBorder {
    border-style: solid;
    border-color: darkslategray;
    background-color: #262626;
}

div.header {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.header a {
    width: 300px;
 }

body {
    background-image: url("../images/binary.gif");
    background-color:black;
    font-family:Arial,sans-serif;
}

div {
    text-align:center;
}

.code {
    font-family:'Courier New', Courier, monospace;
}

footer {
    bottom:5px;
    width:100%;
    height:10%;
    background-color:rgb(26, 26, 26);
    text-align:center;
    border:1px;
    border-color:darkslategray;
    border-style:solid;
  }

/*#20*/
.cpr::first-line {
    color:rgb(0, 255, 0);
}
div.bottomMargin {
    display:inline-block;
    max-width:925px; /*75%*/
}
