
.tr1 {
    height:300px;
    background:rgb(0, 0, 0);
    color:palevioletred;
}
.tr2 {
    height:300px;
    background:rgb(32, 32, 32);
    color:palevioletred;
}
.tr3 {
    height:300px;
    background:rgb(0, 0, 0);
    color:palevioletred;
}
.tr4 {
    height:300px;
    background:rgb(32, 32, 32);
    color:palevioletred;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

th {
    width:400px;
}

table {
    background-color:orangered;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    text-align:left;
}